<p id="notice"><%= notice %></p>

<p>
  <%= @picture.title %>
  <p>by</p>
  <%= link_to @picture.author_name, @picture.author_url %> <br/>
  <%= image_tag @picture.url %>

</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
